# Database Configuration (Docker will create the DB with these credentials)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=choose_a_secure_password
POSTGRES_DB=peporag
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

# Backend Configuration
BACKEND_PORT=8002
# URL for Ollama (Local LLM)
OLLAMA_BASE_URL="http://localhost:11434/v1"

# Frontend Configuration
# Internal URL for container-to-container communication (frontend -> backend)
BACKEND_URL=http://backend:8000
FRONTEND_PORT=8501